# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
appclient/node_modules
appclient/.pnp
appclient/.pnp.js

# testing
appclient/coverage

# production
appclient/build

# misc
appclient/.DS_Store
appclient/.env.local
appclient/.env.development.local
appclient/.env.test.local
appclient/.env.production.local

appclient/npm-debug.log*
appclient/yarn-debug.log*
appclient/yarn-error.log*

appserver/appserver/__pycache__/*
appserver/.env
